.container {
    width: 40%; 
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-top: 80px;

}

.input{
    width: 100%;
    padding: 10px;
    margin: 30px, auto;
    margin-top: 10px;

}

.Button{
    width: 100%;
    margin-top: 30px;
    font-size: large;
    padding: 0 0 10px 0;
}

.Button{
    width: 100%;
    margin-top: 30px;
    font-size: large;
    padding: 0 0 10px 0;
}

.registerDiv{
    width: 40%; 
    margin: auto;
}

